################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LoanAssigment/.vs/LoanAssigment
/LoanAssigment/LoanAssigment/obj
